.toast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(18.75rem,100%,31.25rem);
    padding: 0.125rem 0.75rem;
    border-radius:0.625rem;
    box-shadow: 0px 0px 0.5rem var(--lightBlue);
    color:var(--white);
    margin-bottom: 1rem;
}

.close{
    font-size: 2rem;

    cursor: pointer;
}

.toast-primary{
    background-color: var(--primary);
}

.toast-danger{
    background-color:var(--danger)
}

.toast-success{
    background-color:var(--success);
}

.toast-warning{
    background-color:var(--warning);
}
.toast:hover{
    filter: brightness(75%);
}